.mention{
    position: absolute;
    bottom: calc(100% + 14px);
    left: 80px;
    width: 260px;
    font-size: 12px;
    background-color: #FDF8EF;
    border: 1px solid #000;
}

.empty{

}

.list{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    max-height: 200px;
    overflow: auto;
}

.item_loader{

}

.item_empty{

}

.item{
    
}

.help{
    position: relative;
    padding: 4px;
    color: #555;
    border-top: 1px solid #000;
}
