:global(.tiny-autocomplete-item) {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 4px 0 0 !important;
}

.wrap {
    position: relative;
    display: grid;
    grid-template: 'tmp1 alist tmp2' auto 'attach area submit' auto / 60px 1fr 60px;
    gap: 0 20px;
    width: 100%;
    /* width: 600px;
    margin: 0 auto; */
}

.area {
    grid-area: area;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-height: 220px;
    overflow: auto;
}

.area>div {
    min-height: 40px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.attachBtn {
    grid-area: attach;
    justify-self: end;
    background-color: #eeebde;
}

.submitBtn {
    grid-area: submit;
    background-color: #0079f0;
}

.submitBtn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: #b5b5b5;
}

.attach {
    grid-area: alist;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0 0 10px 0;
}

.attach__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attach__item img {
    position: relative;
    z-index: 1;
    height: 60px;
    width: auto;
    border-radius: 6px 20px 6px 6px;
    background-color: #e3e3e3;
}

.attach__item__remove {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 50%;
    background-color: #d78778;
    border: 1px solid #fff;
}

@media screen and (max-width: 600px) {
    .wrap {
        grid-template: 'tmp1 alist tmp2' auto 'attach area submit' auto / auto 1fr auto;
        gap: 0 10px;
        padding: 0 14px;
    }
}

@media screen and (max-width: 450px) {
    .wrap {
        gap: 0 6px;
        padding: 0 10px;
        padding-left: 10px !important;
    }

    .btn {
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    .btn>svg {
        width: 100%;
        height: 100%;
    }
}